.container{

}
    /* ul{
        display: flex;
        flex-direction: column;
        flex: 3 0;
        justify-content: space-evenly;
        border-radius: 1rem;
        list-style: none;
        margin: 0.5rem;
        padding: 0;
    }
    ul li{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 1px solid #e4e4e4;
    }
    ul li:last-child{
        border: none;
    } */